name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v4

      - name: 2. Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: 3. Restore and Build
        run: |
          dotnet restore
          dotnet build --configuration Release

      - name: 4. Build Docker Image
        run: |
          docker build -t my-api-image:${{ github.sha }} .
          echo "Docker image built successfully!"
